//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define ZMK_POINTING_DEFAULT_MOVE_VAL 1500
#define ZMK_POINTING_DEFAULT_SCRL_VAL 20
#define Base        0
#define Nav         1
#define Sym         2
#define Fun         3
#define Game        4
#define Gameplus    5

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

&lt {
    tapping-term-ms = <240>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <125>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";

        combo_esc {
            bindings = <&kp ESC>;
            key-positions = <0 1>;
        };

        combo_caps {
            bindings = <&kp CAPSLOCK>;
            key-positions = <11 10>;
        };

        Bracket_left_normal {
            bindings = <&kp LEFT_PARENTHESIS>;
            key-positions = <3 4>;
        };

        Bracket_right {
            bindings = <&kp RIGHT_PARENTHESIS>;
            key-positions = <6 5>;
        };

        Bracket_square_left {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <13 14>;
        };

        Bracket_square_right {
            bindings = <&kp RIGHT_BRACKET>;
            key-positions = <15 16>;
        };

        Bracket_curly_left {
            bindings = <&kp LEFT_BRACE>;
            key-positions = <24 25>;
        };

        Bracket_curly_right {
            bindings = <&kp RIGHT_BRACE>;
            key-positions = <26 27>;
        };

        Bracket_triangle_left {
            bindings = <&kp LESS_THAN>;
            key-positions = <3 2>;
        };

        Bracket_triangle_right {
            bindings = <&kp GREATER_THAN>;
            key-positions = <6 7>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Base {
            display-name = "Base";
            bindings = <
           &kp Q        &kp W        &mt RA(E) E       &kp R               &kp T          &kp Y        &kp U             &kp I             &mt RA(O) O  &kp P
           &mt RA(A) A  &mt RA(S) S  &kp D             &kp F               &kp G          &kp H        &kp J             &kp K             &mt RA(L) L  &kp SEMI
&kp TILDE  &mt RA(Z) Z  &mt RA(X) X  &mt RA(C) C       &kp V               &kp B          &mt RA(N) N  &kp M             &kp COMMA         &kp DOT      &kp FSLH  &kp GRAVE
                                     &mt LCTRL DELETE  &mt RALT BACKSPACE  &lt 1 SPACE    &lt 2 ENTER  &mt LEFT_GUI TAB  &mt LSHFT ESCAPE
            >;
        };

        Nav {
            display-name = "Nav";
            bindings = <
        &kp N1  &kp N2  &kp N3         &kp N4  &kp N5      &kp N6       &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0
        &trans  &trans  &trans         &trans  &kp BSPC    &kp LEFT     &kp DOWN      &kp UP        &kp RIGHT     &kp ESC
&kp F1  &kp F2  &kp F3  &kp F4         &kp F5  &kp F6      &kp F7       &kp F8        &kp F9        &kp F10       &kp F11       &kp F12
                        &mt LCTRL DEL  &trans  &trans      &lt 3 ENTER  &trans        &trans
            >;
        };

        Sym {
            display-name = "Sym";
            bindings = <
        &kp EXCL   &kp AT        &kp HASH         &kp DOLLAR  &kp PERCENT    &kp CARET  &kp AMPERSAND  &kp ASTRK  &kp LPAR  &kp RPAR
        &kp PSCRN  &kp C_PREV    &kp C_NEXT       &kp C_PP    &trans         &kp MINUS  &kp EQUAL      &kp LBKT   &kp RBKT  &kp BSLH
&trans  &trans     &kp C_VOL_DN  &kp C_VOLUME_UP  &kp C_MUTE  &trans         &kp UNDER  &kp PLUS       &kp LBRC   &kp RBRC  &kp PIPE  &kp GRAVE
                                 &trans           &trans      &lt 3 SPACE    &trans     &trans         &trans
            >;
        };

        Fun {
            bindings = <
        &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};
